$font-size-base: 14px;
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

$fa-font-path: "/assets/fonts";
@import 'bower_components/fontawesome/scss/font-awesome';

#logo {
  height: 20px;
  margin-right: 5px;
}

.page-header {
  margin-top: 0;
}

.file-item,
.folder-item,
.folder-up-item {
  i {
    margin-right: 8px;
  }
}


// Page

.page-contents {
  .image {
    text-align: center;
  }

  img {
    padding: 5px;
    /* box-shadow: 1px 1px 5px gray; */
    margin: 20px 0;
    height: auto;
    max-width: 90%;
  }
}
