$font-size-base: 14px;
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

$fa-font-path: "/assets/fonts";
@import 'bower_components/fontawesome/scss/font-awesome';

#logo {
  height: 20px;
  margin-right: 5px;
}

.page-header {
  margin-top: 0;
}

.path {
  font-family: $font-family-monospace;
  font-size: 12px;
  color: lighten($text-color, 30%);
}


// Folder list

.file-item,
.folder-item,
.folder-up-item {
  i {
    margin-right: 8px;
  }
}

a.list-group-item:active {
  background-color: lighten(#428bca, 20%);
  border-color: lighten(#428bca, 20%);
  color: #fff;
}


// Page

.page-contents {
  .image {
    text-align: center;
  }

  img {
    padding: 5px;
    /* box-shadow: 1px 1px 5px gray; */
    margin: 20px 0;
    height: auto;
    max-width: 90%;
  }
}
