$font-size-base: 14px;
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

$fa-font-path: "/assets/fonts";
@import 'bower_components/fontawesome/scss/font-awesome';

#logo {
  height: 20px;
  margin-right: 5px;
}

.page-header {
  margin-top: 0;
}

.path {
  font-family: $font-family-monospace;
  font-size: 12px;
  color: lighten($text-color, 30%);
}


// Folder list

.file-item,
.folder-item,
.folder-up-item {
  i {
    margin-right: 8px;
  }
}

a.list-group-item:active {
  background-color: lighten(#428bca, 20%);
  border-color: lighten(#428bca, 20%);
  color: #fff;
}


// Page

.page-contents {
  .image {
    text-align: center;
  }

  img {
    padding: 5px;
    margin: 20px 0;
    height: auto;
    max-width: 90%;
  }
}


// Footer

$footer-height: 100px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  border-top: 1px solid #f5f5f5;
  padding-top: 30px;
  text-align: center;
  font-size: 13px;
  opacity: 0.8;
}

#logo-footer {
  height: 0.8em;
}
