<nav class="navbar navbar-static-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        <img src="/assets/logo.svg" alt="">
        Goldfish
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'folder' '|' tagName='li'}}
          {{#link-to 'folder' '|'}}Folders{{/link-to}}
        {{/link-to}}
        {{#link-to 'pages' tagName='li'}}
          {{#link-to 'pages'}}Recents{{/link-to}}
        {{/link-to}}
      </ul>
      <div class="navbar-form navbar-right">
        <div class="icon-addon addon-md">
          {{input value=searchText class="form-control page-search-box input-search" placeholder="Search" action="search"}}
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>

<div class="footer">
  <div class="container">
    <img src="/assets/logo.svg" alt="" id="logo-footer"> Goldfish by <a href="https://clemente.io">Lucas Clemente</a>
    &middot; <a href="https://github.com/lucas-clemente/goldfish" target="_blank"><i class="fa fa-github"></i> Source</a>
    &middot; <a href="https://github.com/lucas-clemente/goldfish/issues" target="_blank"><i class="fa fa-bug"></i> Issues</a>
  </div>
</div>
