$font-size-base: 14px;
$font-size-page: 15px;
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

$fa-font-path: "/assets/fonts";
@import 'bower_components/fontawesome/scss/font-awesome';

.navbar-brand {
  img {
    height: 20px;
    margin-right: 5px;
    display: inline-block;
  }
}

.page-header {
  margin-top: 0;
}

@import 'input-icon-addons';

.modification-date {
  color: $gray-light;
  padding-right: 12px;
  padding-top: 7px;
}

.path {
  font-family: $font-family-monospace;
  font-size: 0.85em;
  color: lighten($text-color, 30%);
}

// Workaround for ember actions without href attributes
a:not([href]) {
  cursor: pointer;
}

.dragging {
  box-shadow:  0px 0px 10px green;
}

// Folder list

.nav-list {
  .nav-item-file,
  .nav-item-folder {
    i {
      margin-right: 8px;
    }
  }

  a.list-group-item:active {
    background-color: lighten(#428bca, 20%);
    border-color: lighten(#428bca, 20%);
    color: #fff;
  }
}

.btn-new-file {
  margin-top: -2px;
}

.input-group-new-file-name {
  margin-top: 10px;
}

.btn-file-actions {
  margin-bottom: 1em;
}

// Page

.page-markdown {
  font-size: $font-size-page;
  .image {
    text-align: center;
  }

  img {
    padding: 5px;
    margin: 20px 0;
    height: auto;
    max-width: 90%;
  }
}


.page-image {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.page-pdf {
  width: 100%;
  height: 90vh;
}


.page-unsupported,
.page-notfound {
  text-align: center;

  img {
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    max-width: 60%;
  }

  p {
    font-size: 18px;
  }
}

.markdown-edit {
  width: 100%;
  padding: 1em;

  font-size: 15px;
  font-family: $font-family-monospace;

  border: none;
  outline: 0;
  resize: none;
}


// Pages list

.no-results {
  text-align: center;

  font-size: 2em;
  margin-top: 2em;

  color: $gray-light;
}

.search-matched-area {
  mark {
    padding: 0;
  }
}

// Footer

$footer-height: 100px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  border-top: 1px solid #f5f5f5;
  padding-top: 30px;
  text-align: center;
  font-size: 13px;
  opacity: 0.8;
}

#logo-footer {
  height: 0.8em;
}
