$font-size-base: 14px;
$font-size-page: 15px;
@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

$fa-font-path: "/assets/fonts";
@import 'bower_components/fontawesome/scss/font-awesome';

.navbar-brand {
  img {
    height: 20px;
    margin-right: 5px;
    display: inline-block;
  }
}

.page-header {
  margin-top: 0;
}


// Page

.page-contents {
  font-size: $font-size-page;
  .image {
    text-align: center;
  }

  img {
    padding: 5px;
    margin: 20px 0;
    height: auto;
    max-width: 90%;
  }
}


// Footer

$footer-height: 100px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  border-top: 1px solid #f5f5f5;
  padding-top: 30px;
  text-align: center;
  font-size: 13px;
  opacity: 0.8;
}

#logo-footer {
  height: 0.8em;
}
