<div class="page-header">
  <h1>
    {{model.title}}
    <small>{{model.folderPath}}</small>
  </h1>
</div>

{{#if model.isMarkdown}}
  <div class="page-contents">
    {{{model.compiledMarkdown}}}
  </div>
{{/if}}
